# Not include libs for now
libs/cgp
libs/mtgp
# figures not in the paper
results/figures
# Dataset not used for now
data/jura
data/hpc
# Binary files
*.pdf
*.mat
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/
